In [1]:
from load_team_data import *

In [2]:
boxofficemovies = get_movies('boxofficemojo')
unclean_metamovies = get_movies('metacritic')
metamovies = [movie for movie in unclean_metamovies if type(movie) != list]
metamovies = clean_data(metamovies)

Parsed 3728 movies from 3728 files
Parsed 4767 movies from 4767 files

In [12]:
meta_df = pd.DataFrame(metamovies)
mojo_df = pd.DataFrame(boxofficemovies)

In [8]:
meta_df.columns

Index([            u'complete',             u'director',
                      u'genre',              u'genre_1',
                   u'genre_10',              u'genre_2',
                    u'genre_3',              u'genre_4',
                    u'genre_5',              u'genre_6',
                    u'genre_7',              u'genre_8',
                    u'genre_9',      u'metacritic_page',
                  u'metascore', u'num_critic_reviews_1',
       u'num_critic_reviews_2', u'num_critic_reviews_3',
       u'num_critic_reviews_4',     u'num_user_ratings',
         u'num_user_reviews_1',   u'num_user_reviews_2',
         u'num_user_reviews_3',   u'num_user_reviews_4',
                     u'rating',         u'release_date',
            u'runtime_minutes',               u'studio',
                      u'title', u'unable to retrieve_1',
       u'unable to retrieve_2',           u'user_score',
                       u'year'],
      dtype='object')

In [13]:
mojo_df.columns

Index([u'alt_title', u'director', u'domestic_gross', u'mojo_slug',
       u'opening_per_theater', u'opening_weekend_take', u'production_budget',
       u'release_date_limited', u'release_date_wide', u'title',
       u'widest_release', u'worldwide_gross', u'year'],
      dtype='object')

In [11]:
meta_df.describe()

,metascore,num_critic_reviews_1,num_critic_reviews_2,num_critic_reviews_3,num_critic_reviews_4,num_user_ratings,num_user_reviews_1,num_user_reviews_2,num_user_reviews_3,num_user_reviews_4,runtime_minutes
count,68820.000000,71445.000000,71445.000000,71445.000000,71445.000000,67215.000000,71445.000000,71445.000000,71445.000000,71445.000000,70020.000000
mean,57.116609,12.705858,7.547974,3.461264,23.715096,129.285427,28.364056,4.244384,8.188747,40.797187,107.144602
std,18.623499,10.572588,5.780142,4.631339,11.287930,235.767922,57.548314,8.052863,17.263049,76.690330,20.140586
min,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,1.000000,40.000000
25%,44.000000,4.000000,3.000000,0.000000,15.000000,21.000000,3.000000,0.000000,0.000000,4.000000,93.000000
50%,58.000000,10.000000,6.000000,1.000000,25.000000,56.000000,10.000000,1.000000,2.000000,16.000000,103.000000
75%,71.000000,20.000000,11.000000,5.000000,33.000000,136.000000,29.000000,5.000000,8.000000,44.000000,117.000000
max,100.000000,50.000000,31.000000,30.000000,50.000000,4002.000000,1028.000000,130.000000,269.000000,1197.000000,325.000000

,complete,director,genre,genre_1,genre_10,genre_2,genre_3,genre_4,genre_5,genre_6,...,num_user_reviews_4,rating,release_date,runtime_minutes,studio,title,unable to retrieve_1,unable to retrieve_2,user_score,year
71442,True,Peter Hewitt,NaN,Action,NaN,Adventure,Sci-Fi,Family,NaN,NaN,...,15.0,PG,2006-08-11,83.0,Columbia Pictures,Zoom,NaN,NaN,3.6,2006
71443,True,Peter Hewitt,NaN,Action,NaN,Adventure,Sci-Fi,Family,NaN,NaN,...,15.0,PG,2006-08-11,83.0,Columbia Pictures,Zoom,NaN,NaN,3.6,2006
71444,True,Peter Hewitt,NaN,Action,NaN,Adventure,Sci-Fi,Family,NaN,NaN,...,15.0,PG,2006-08-11,83.0,Columbia Pictures,Zoom,NaN,NaN,3.6,2006
71445,True,Peter Hewitt,NaN,Action,NaN,Adventure,Sci-Fi,Family,NaN,NaN,...,15.0,PG,2006-08-11,83.0,Columbia Pictures,Zoom,NaN,NaN,3.6,2006
71446,True,Peter Hewitt,NaN,Action,NaN,Adventure,Sci-Fi,Family,NaN,NaN,...,15.0,PG,2006-08-11,83.0,Columbia Pictures,Zoom,NaN,NaN,3.6,2006